<div class="center jumbotron">
<h1>Welcome to the Slavkis Cool App</h1>
<h2>
This is the home page for the
<a href="http://www.railstutorial.org/">Slavkis first Nice Cock App</a>
<img src="/assets/sca.png" alt="Slavkis cool app" width="70" height="60" style="float:right">
</h2>
<%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>